# Servidor
PORT=3000

# Banco de Dados
DATABASE_URL=postgresql://postgres:sua_senha@localhost:5432/lk_barbearia

# JWT
JWT_SECRET=sua_chave_secreta_segura_aqui
JWT_EXPIRES_IN=1h

# CORS
CORS_ORIGIN=http://localhost:5173
